:root {
    --background: #246068;
    --font: Verdana, Geneva, Tahoma, sans-serif;
    --heading: #82C38D;

}

body {
    background: #202020;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Header Styles */

.header {
    position: fixed;
    width: 100%;
    display:grid;
    grid-template-columns: auto auto;
    grid-template-areas: "logo menu";
    background-color: var(--background);
    color: #ffffff80;

}

.logo {
    grid-area: logo;
    font-family: var(--font);
    font-weight: 200;
    padding-left: 1em; 
    
}

.menu {
    grid-area: menu;
    align-items: center;
    align-self: center;
    font-family: var(--font);
    color: rgb(255, 255, 255);
    text-shadow: .5px .5px;
    top: 1rem;
}

ul li {
    display: inline;
    padding: 0.75rem;
    color: #ffffff80;
}

ul a {
    
    list-style-type: none;
    text-decoration: none;
    color: #ffffff80;
    
}

ul a:hover {
    color: #202020;
    
}

/* About Me section styles */

.about {
    padding-top: 3em;
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: flex-start;
    align-items: center;
}

.about h2 {
    color: var(--heading);
    align-self: flex-start;
    padding-top: 1em;
    font-family: var(--font);
    font-weight: 200;
}

.about p {
    color: #ffffff80;
}

.about img {
    width: 20%;
    padding: 2em 1em;
    border-radius: 70px 200px 200px 70px;
}

/* Work section styles */

.work > h2 {
    color: var(--heading);
    font-family: var(--font);
    font-weight: 200;
    padding: 2rem;
}

.container {
    max-width: 100rem;
    margin-inline: auto;
    padding-inline: 2rem;
}

.product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
}

.card {
    aspect-ratio: 1 / 1.5;
    padding: 0.1rem;
    
}

.card__title h2 {
   justify-content:  center;
   
}

.card a {
    text-decoration: none;
    color: black;
    }

.card__content {
    background-color: rgba(255, 255, 255, 0.7);
    align-self: baseline;
    margin: 0.5rem 0.5rem 2rem;
    padding: 0.5rem;
    padding-bottom: 3rem;
    box-shadow: 0 .25rem 1rem rgb(0, 0, 0 / .1);
}

.stacked {
    display: grid;
}

.stacked > * {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
}
.card__img {
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* Contact styles */

.contact h2 {
    color: var(--heading);
    font-family: var(--font);
    font-weight: 200;
    padding: 2rem;
}

.contact {
   display: flex;
   justify-content: center;
   align-items: center;
   border: 2px solid pink;
}

.contact a {
    color:#ffffff80;
}

.contact a:hover {
    color: #82C38D;
}

/* Media Queries */

@media (min-width: 580px) {

.card.featured {
    grid-row: span 2;
    grid-column: span 2;
}

.card.featured .card__img {
    aspect-ratio: 1 / 1.25;
}

}

@media (max-width: 500px) {

    .header {
        position: fixed;
        width: 100%;
        display:grid;
        grid-template-columns: 1fr;
        grid-template-areas: 
          "logo"
          "menu";
        background-color: var(--background);
    
    }
    
    .logo {
        grid-area: logo;
        text-align: center;
        font-family: var(--font);
        font-weight: 200;
        padding-left: 1em; 
        
    }

    .menu {
        grid-area: menu;
        text-align: center;
        align-self: center;
        font-family: var(--font);
        color: rgb(255, 255, 255);
        text-shadow: .5px .5px;
        top: 1rem;
        padding: 1em;
    }
    
    ul li {
        display: inline;
        padding: 0.75rem;
    }
    
    ul a {
        
        list-style-type: none;
        text-decoration: none;
        
    }

    .about {
        padding-top: 5em;
    }
    
}


